.product {
  border: 1px solid #303c6c;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: #f4976c;
  display: flex;
  justify-content: space-around;
  width: 50rem;
  margin-top: 15px;
  color: #f4976c;
}
.button {
  color: #303c6c;
  background-color: #fbe8a6;
  border: 1px solid #303c6c;
  border-radius: 7px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add {
  color: #303c6c;
  background-color: #d2fdff;
}

.input {
  color: #303c6c;
  border: 1px solid #303c6c;
  border-radius: 5px;
  padding: 5px 2px;
  outline: none;
}
.input:focus {
  border: 2px solid #303c6c;
}

.value {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #303c6c;
  color: #b4dfe5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.trash {
  color: rgb(219, 105, 64);
  border-color: rgb(219, 105, 64);
  background-color: #fbe8a6;
}
